---
// Importa el componente Image de Astro
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import { Image } from "astro:assets";

// Importa las imágenes directamente desde la carpeta de assets
import cointrackerImage from "../../assets/proyects/cripto.webp";
import premolhouseImage from "../../assets/proyects/premolhouse-final.webp";
import skyrunnerImage from "../../assets/proyects/skyrunner-final.webp";
import abogadasImage from "../../assets/proyects/abogadas.webp";
import tuviajeImage from "../../assets/proyects/tuviaje-ecomm.webp";
import matiasPortfolio from "../../assets/proyects/matiasportfolio.webp";
import devBlog from "../../assets/proyects/devblog.webp";

const PROJECTS = [
  {
    title: "Cointracker - Landing page",
    description:
      "Introducing the project 'Cointracker', which allows tracking the value of the most well-known cryptocurrencies in real-time and keeping an eye on price changes of Bitcoin, Ethereum, Litecoin, Dogecoin, Tether, among others.",
    link: "https://landing-crypto.vercel.app/",
    image: cointrackerImage,
    technologies: ["JavaScript", "React", "Node.js", "API Integration"],
  },
  {
    title: "Aydabogadas - Landing page",
    description:
      "This is a website dedicated to a law firm, which was designed from scratch and completely customized. Users can learn about their practice areas and get to know the attorneys.",
    link: "https://aydabogadas.com/",
    image: abogadasImage,
    technologies: ["Wordpress"],
  },
  {
    title: "Premolhouse - Dynamic page",
    description:
      "This website is dedicated to the construction of prefabricated houses, offering a variety of models and styles to meet the needs of its clients.",
    link: "https://premolhouse.com/",
    image: premolhouseImage,
    technologies: ["JavaScript", "Vue.js", "Tailwind CSS"],
  },
  {
    title: "Devblog - Blog",
    description:
      "Devblog is a blog where I share my knowledge and experiences in the world of web development. It was built using Astro and Tailwind CSS.",
    link: "https://dev-blog-matidev.vercel.app/",
    image: devBlog,
    technologies: ["Astro", "Tailwind CSS"],
  },
  {
    title: "Matías Baez - Portfolio",
    description:
      "This is my personal portfolio, where I showcase my skills and projects. It was built using Tailwind CSS and JavaScript.",
    link: "https://matiasbaez.com/",
    image: matiasPortfolio,
    technologies: ["JavaScript", "Tailwind CSS"],
  },
  {
    title: "Tu viaje - Ecommerce",
    description:
      "This flight booking web application showcases our expertise in DOM manipulation, Fetch-based data handling, and a custom-built shopping cart for an enhanced user experience.",
    link: "https://entrega-final-coder-eight.vercel.app/",
    github: "https://github.com/matibbaez/entregaFinalCoder",
    image: tuviajeImage,
    technologies: ["React", "Node.js", "CSS Modules"],
  },
  {
    title: "Skyrunner - Videogame made with Python",
    description:
      "Run, jump, and shoot through unique levels, dodging obstacles and facing enemies to achieve the highest score. In 'Sky Runner', several important features have been implemented.",
    gameplay: "https://youtu.be/SBz8_hA5Buc?si=mNlewsQPLAt6NWod",
    github: "https://github.com/matibbaez/skyRunner",
    image: skyrunnerImage,
    technologies: ["Python", "Pygame"],
  },
];
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Projects"
    description="Explore Our Portfolio of Innovative Web Solutions"
  />
  <div class="flex flex-col gap-y-16">
    {PROJECTS.map(({ image, title, description, link, github, gameplay, technologies }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image src={image} alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" />
          </div>
        </div>
        
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-medium text-gray-800 dark:text-gray-800">
            {title}
          </h3>
          <div class="mt-2 text-base text-gray-700 dark:text-gray-400">{description}</div>

          <!-- Renderiza las "pastillas" de tecnologías aquí -->
          <ul class="flex gap-2 flex-wrap text-sm mt-4">
            {technologies.map(tech => (
              <li class="rounded-full px-3 py-1 border border-gray-200 dark:border-gray-200 bg-[var(--green)] backdrop-blur-sm text-white dark:text-white">
                {tech}
              </li>
            ))}
          </ul>

          <footer class="flex text-base items-end justify-start mt-4 gap-x-4">
            {github && (
              <a href={github} class="flex items-center text-blue-500 hover:underline">
                <span>Code</span>
              </a>
            )}
            {link && (
              <a href={link} class="flex items-center text-blue-500 hover:underline">
                <span>Deploy</span>
              </a>
            )}
            {gameplay && (
              <a href={gameplay} class="flex items-center text-blue-500 hover:underline">
                <span>Gameplay</span>
              </a>
            )}
          </footer>
        </div>
      </article>
    ))}
  </div>
</Section>

