---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/engine-opt.svg";
import c2 from "../../assets/pics/design.svg";
import c3 from "../../assets/pics/custom.svg";
import c4 from "../../assets/pics/perfect-op.svg";
import c5 from "../../assets/pics/sec-final.svg";
import c6 from "../../assets/pics/responsive.svg";

const cards = [
  {
    index: 1,
    titleTop: "SEO",
    titleBottom: "Optimization",
    secondaryText: "Search engine optimization (SEO) is crucial for improving the visibility of your website in search engine results.",
    img: c1,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Creative",
    titleBottom: "Design",
    secondaryText: "Creativity is at the heart of everything done here. Innovative and attractive designs are provided to capture the essence of your brand.",
    img: c2,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Fully",
    titleBottom: "Customizable",
    secondaryText: "The solution is fully customizable to meet any specific requirements. From colors and fonts to advanced functionalities.",
    img: c3,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 1,
    titleTop: "Score",
    titleBottom: "Improvement",
    secondaryText: "Boost your website's performance scores with optimization techniques for faster load times and better user experience.",
    img: c4,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Performance",
    titleBottom: "Optimization",
    secondaryText: "Ensuring your website loads quickly and performs well under various conditions is essential.",
    img: c5,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Security",
    titleBottom: "Measures",
    secondaryText: "Protecting your website and its users from potential threats is a top priority. Implementing SSL certificates, keeping software and plugins updated.",
    img: c6,
    alt: "SEO",
    link: "https://google.com",
  },
];

const description =
  "We offer essential digital marketing services to help your business grow and stand out online. Our team specializes in:";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            secondaryText={card.secondaryText}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
