---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon7.svg";
import wob from "../../assets/icon7.svg";


const { index, titleTop, titleBottom, secondaryText, img, alt, link } = Astro.props;
---

<Card isUnderline={true}>
  <div
    class={`h-[400px] w-full sm:h-full lg:gap-[60px] grid custom-grid lg:grid-cols-2 lg:grid-rows-1 p-8 sm:p-[50px] rounded-[45px] ${index === 1 ? 'bg-dark text-white' : index === 2 ? 'bg-dark text-white' : 'bg-dark text-white'}`}
  >
    {/* Título centrado */}
    <h3 class="flex flex-col col-span-2 lg:col-span-1 text-center">
      <span class={`w-[fit-content] ${index === 1 ? 'whitehead' : 'whitehead'}`}>
        {titleTop}
      </span>
      <span class={`w-[fit-content] ${index === 1 ? 'whitehead' : 'whitehead'}`}>
        {titleBottom}
      </span>
      
      {/* Texto secundario justificado con padding-top adicional */}
      <p class="text-sm pt-4 mt-4 col-span-2 lg:col-span-1 text-gray-400 text-justify">
        {secondaryText}
      </p>
    </h3>

    {/* Imagen */}
    <picture
      class="w-full h-full row-span-1 order-1 lg:order-none lg:row-span-2 flex justify-center items-center"
    >
      <Image
        src={img}
        alt={alt}
        class="h-[100px] w-auto sm:h-auto sm:w-3/4 object-cover"
      />
    </picture>

    {/* Enlace */}
    <div class="flex items-end">
      <a href={link} class="flex items-center gap-3.5">
        <Image src={index === 1 || index === 2 ? gob : wob} alt={alt} />
      </a>
    </div>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
